<article>
    <header>
        <ul>
            <li><a href="#" class="active" title="Magyar" lang="hu">Magyar</a></li>
            <li><a href="#" title="English" lang="en">English</a></li>
        </ul>
    </header>

    <figure>
        <img src="images/default.png" alt="" width="800" height="600">
        <figcaption>figcaption</figcaption>
    </figure>

    <a href="#" class="move back" title="Back"><span>&lt;</span></a>
    <a href="#" class="move next" title="Next"><span>&gt;</span></a>
</article>
<script type="text/javascript">
    $(function () {
        $('article').imgGallery({
                                    getMaxIndex: function (aCallback) {
                                        var url = '/images/getcount';
                                        $.getJSON(url, function (data) {
                                            aCallback(parseInt(data, 10) - 1);
                                        });
                                    },
                                    getImage: function (aIndex, aLanguage, aCallback) {
                                        var url = '/image/get/id/' + aIndex + '/lang/' + aLanguage;
                                        $.getJSON(url, function (data) {
                                            aCallback(data);
                                        });
                                    },
                                    getLabel: function (aIndex, aLanguage, aCallback) {
                                        var url = '/image/getlang/id/' + aIndex + '/lang/' + aLanguage;
                                        $.getJSON(url, function (data) {
                                            aCallback(data);
                                        });
                                    }
                                });

    });
</script>