<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Image Gallery</title>

    <meta name="author" content="...::: author spapp - visit us online @ http://www.spappsite.hu/ :::...">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="style/main.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.imgGallery.plugin.js"></script>

</head>
<body>

<?php echo $this->layout()->content; ?>

</body>
</html>