@import "http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css";

@font-face {
    font-family: "OpelSansCondensed";
    src: url("../fonts/OpelSansCondensed.ttf");
}
/* @color: #121212 */
/* @color-light: #bbb; */
/* @color-middle: #777; */

html {
    font-family: OpelSansCondensed,arial,sans-serif;
    color: #121212; /* @color */
    font-size: 1em;
}

header,
article {
    width: 800px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

/* top menü */
header {
    text-align: center;
}

ul li {
    display: inline;
    text-align: center;
    color: #bbb; /* @color-light */
}

ul li:after {
    content: "|"
}

ul li:last-child:after {
    content: ""
}

ul li a {
    padding: 0 5px 0 3px;
    color: inherit;
    text-decoration: none;
}

ul li a.active {
    color: #121212; /* @color */
}

/* picture */
figure {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    position: relative;
}

figure figcaption {
    background: transparent url("opacity40.png");
    padding: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
/* navigation */
.move {
    line-height: 30px;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
    position: absolute;
    display: block;
    background: transparent url("opacity40.png");
    color: #121212; /* @color */;
    text-decoration: none;
}
.move.back {
    left: 0;
    top: 285px;
}
.move.next {
    right: 0;
    top: 285px;
}
.move.back.disabled,
.move.next.disabled {
    color: #bbb; /* @color-light */
    cursor: default;
}

